<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Liste des fichiers à télécharger</title>
</head>
<body>
  <h1>Liste des fichiers à télécharger</h1>

  <h2>Sous-dossiers (Non accessibles)</h2>
  <ul>
    {% for folder in folders %}
      <li><strong>{{ folder }}</strong></li>
    {% endfor %}
  </ul>

  <h2>Fichiers</h2>
  <!-- Modification ici pour utiliser un tableau -->
  <table>
    <thead>
      <tr>
        <th>Nom du fichier</th>
        <th>Taille (MB)</th>
      </tr>
    </thead>
    <tbody>
      {% for file, size in files %}
      <tr>
        <td><a href="{{ url_for('download_file', filename=file) }}">{{ file }}</a></td>
        <td>{{ size }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</body>
</html>

